pyrogram==2.0.106
python-dotenv==1.1.1
pytesseract==0.3.13
TgCrypto==1.2.5
pillow==11.3.0
requests==2.32.4
PySocks==1.7.1
urllib3==2.5.0
idna==3.10
certifi==2025.7.14
charset-normalizer==3.4.2
six==1.16.0
numpy==1.26.4 
pandas==2.3